$halfWhite: #fcfcfc;
$orange: #ea9967;
$gray: #979797;

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($s) {
  width: $s;
  height: $s;
  border-radius: 50%;
}

@mixin noBorder() {
  border: none;
  outline: none;
  background-color: transparent;
}

#whiteSvg {
  path {
    fill: #fff !important;
  }
}
.setcNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.secLinks {
  width: 100%;
  display: flex;
  gap: 3px;
  a {
    border-radius: 15px 15px 0 0;
    background-color: $halfWhite;
    padding: 0 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease;
    color: $gray;
    font-weight: 500;
  }
  .active {
    background-color: #fff;
    color: $orange;
  }
}
.clientContainer {
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  flex-direction: column;
  height: 76vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.hd1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7em;
}
.btn {
  padding: 0 20px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 500;
  cursor: pointer;
  gap: 7px;
}
.btn2 {
  height: 30px;
  background-color: #ede7e0;
  color: $orange;
  font-weight: 600;
}
.profileData {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px 0;
  img {
    width: 105px;
    height: 105px;
    object-fit: cover;
  }
}
.data {
  width: 100%;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  span {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    flex-grow: 1;
    border-radius: 15px;
    padding: 0 15px;
    color: #000;
    font-weight: 500;
    &:nth-child(1) {
      width: calc(100% - 117px);
    }
  }
  a {
    font-weight: 600;
    color: #000;
    border-radius: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 50px;
    background-color: #f7f7f7;
  }
}
.copy {
  border-radius: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 110px;
  border: 2px solid #f7f7f7;
  font-weight: 500;
  color: #979797;
  cursor: pointer;
}
.dataCard {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #d3d3d9;
  border-bottom: 1px solid #d3d3d9;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.dC {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  span {
    color: #afafaf;
  }
  p {
    color: #000;
    font-weight: 500;
  }
}
.rowsData {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  .dataCard {
    border: none;
    padding: 0;
  }
  .cd2 {
    width: 100%;
  }
}

.message {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.message span {
  padding: 0 25px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  background-color: $orange;
  overflow: hidden;
  font-size: 0.9em;
}
.message span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: red;
  right: 0;
  animation: fadeLine 2500ms linear forwards;
}
@keyframes fadeLine {
  100% {
    right: 100%;
  }
}
@media (max-width: 500px) {
  .message span {
    width: 100%;
    border-radius: 0;
  }
}
.rowImages {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}
.iRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.Top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  height: 60px;
  align-items: center;
  border-radius: 20px;
  background-color: #f7f7f7;
  transition: 0.3s all ease;
}
.Bottom {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  border: 2px solid #f7f7f7;
  border-top: none;
  transition: 0.3s all ease;
  bottom: 100%;
  position: absolute;
}

.image {
  position: relative;
  width: 270px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a {
    @include flex();
    width: 30px;
    height: 30px;
    border-radius: 7px;
    position: absolute;
    left: 55px;
    top: 15px;
    color: #20bf55;
    background-color: #fff;
  }
  i {
    @include flex();
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
    color: #f46c6c;
    cursor: pointer;
  }
}
.arrow {
  display: flex;
  justify-content: right;
  gap: 10px;
  height: 60px;
  align-items: center;
  cursor: pointer;
  width: 90%;
  transition: 0.3s all ease;
  p {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background-color: #ede7e0;
    font-size: 1.2em;
    transition: 0.3s all ease;
    i {
      transition: 0.3s all ease;
      color: #585158;
    }
  }
  span {
    font-size: 1.2em;
    color: #979797;
    transition: 0.3s all ease;
  }
}

.lr {
  .arrow {
    justify-content: left;
  }
}

.iRow.active {
  .Top {
    border-radius: 20px 20px 0 0;
  }
  .Bottom {
    position: relative;
    bottom: auto;
    border-radius: 0 0 20px 20px;
  }
  .arrow {
    p {
      i {
        transform: rotate(-180deg);
      }
    }
  }
}
.search {
  width: 100%;
  display: flex;
  gap: 20px;
}
.sin {
  flex-grow: 1;
}
.select {
  position: relative;
  @include flex();
  select,
  input[type="text"],
  input[type="date"],
  input[type="datetime-local"],
  button {
    @include noBorder();
    width: 140px;
    height: 56px;
    padding: 0 15px;
    text-align: right;
    color: #222325;
    background-color: #fff;
    border: 1px solid #d3d3d9;
    border-radius: 15px;
    -webkit-appearance: none;
    font-weight: 500;
    cursor: pointer;
    &::placeholder {
      color: #222325;
    }
  }
  label {
    position: absolute;
    right: 30px;
  }
  i {
    position: absolute;
    left: 15px;
    font-size: 1.3em;
    color: #222325;
  }
  svg {
    position: absolute;
    right: 10px;
  }
}
#date {
  input {
    padding-right: 35px;
  }
}
.relative {
  button {
    i {
      font-size: 1.3em;
      color: #222325;
    }
  }
}
select::-ms-expand {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 56px;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 56px;
}
.react-datepicker {
  position: relative;
  left: 56px;
}
.greenColor {
  color: #20bf55;
}
.colorGray {
  font-size: 0.6em;
  color: #979797;
}
#pt40 {
  padding-top: 40px;
}
.redColor {
  color: #f46c6c;
}
.w100-40 {
  width: calc(100% - 320px);
}
.list {
  width: 330px;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  padding: 20px;
  z-index: 5;
  top: 70px;
  box-shadow: 0px 0px 10px #00000029;
  display: none;
}
.list.show{
  display: block;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-weight: 600;
    color: #000;
  }
  .reset {
    @include flex();
    width: 140px;
    height: 35px;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    i {
      position: relative;
      left: auto;
      font-size: 0.9em;
    }
  }
}
.sts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  span{
    @include flex();
    height: 55px;
    cursor: pointer;
  }
  .select{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
      width: 100%;
    }
  }
}
.st{
  width: 100%;
  display: flex;
  flex-direction: column;
  span{
    display: inline-block;
    width: 100%;
    height: 35px;
    font-weight: 600;
    color: #000;
  }
  i{
    color: #979797;
  }
}
.gap10{
  gap: 10px;
}

button.pr40{
  padding-right: 40px;
}
.right-0{
  right: 0;
}
.left-0{
  left: 0;
}
button.submit{
  width: 100%;
  background-color: #20bf55;
  color: #fff;border: none;
  margin-top: 10px;
  text-align: center;
}
.inputs{
  display: flex;
  flex-direction: column;
  padding:40px 0 20px 0;
  gap: 20px;
  input{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    accent-color: $orange;
  }
}
.inp{
  display: flex;
  gap: 10px;
  align-items: center;
  input{
    width: 0;height: 0;
  }
  label{
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    width: fit-content ;
    transition: .3s all ease;
    cursor: pointer;
    &:nth-child(2){
      width: 25px;
      height: 25px;
      border-radius: 4px;
      @include flex();
      border: 1px solid #979797;
      i{
        position: relative;
        right: auto;
        left: auto;
        color: #fff;
        font-size: .9em;
      }
    }
    &:nth-child(3){
      display: flex;
      font-size: 1.2em;
      font-weight: 500;
      flex-grow: 1;
    }
  }
}
.inp.orangeColor{
  label{
    &:nth-child(2){
      background-color: $orange;
      border: 1px solid $orange;
      color: #fff;
    }
    &:nth-child(3){
      color: $orange;
  }
}
}